requests==2.24.0
aenum==2.2.6
Bio==0.2.3
dash_bio==0.5.0
dash_bootstrap_components==0.10.7
dash_core_components==1.14.1
dash_cytoscape==0.2.0
dash_daq==0.5.0
dash_html_components==1.1.1
dash_table==4.11.1
Flask==1.1.2
fuzzywuzzy==0.18.0
matplotlib==3.3.3
nltk==3.5
owlready2==0.25
pysbolgraph==0.2.0
rdflib==5.0.0
SPARQLWrapper==1.8.5
